<p id="notice"><%= notice %></p>

<p>
  <strong>Job title:</strong>
  <%= @post.job_title %>
</p>

<p>
  <strong>Job category:</strong>
  <%= @post.job_category %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @post.job_type %>
</p>

<p>
  <strong>Company head quarters:</strong>
  <%= @post.company_head_quarters %>
</p>

<p>
  <strong>Job region:</strong>
  <%= @post.job_region %>
</p>

<p>
  <strong>Job apply link:</strong>
  <%= @post.job_apply_link %>
</p>

<p>
  <strong>Job description:</strong>
  <%= @post.job_description %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @post.company_name %>
</p>

<p>
  <strong>Company statement:</strong>
  <%= @post.company_statement %>
</p>

<p>
  <strong>Company url:</strong>
  <%= @post.company_url %>
</p>

<p>
  <strong>Company email:</strong>
  <%= @post.company_email %>
</p>

<p>
  <strong>Company description:</strong>
  <%= @post.company_description %>
</p>

<p>
  <strong>Company logo:</strong>
  <%= @post.company_logo %>
</p>

<p>
  <strong>Highlight job:</strong>
  <%= @post.highlight_job %>
</p>

<p>
  <strong>Feature job:</strong>
  <%= @post.feature_job %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
